.heroesList {
    background-color:#31333D;
    position:absolute;
    width:100vw;
    height: auto;
    max-width: 100vw;
    padding: 10px;
    box-sizing: border-box;
}

.heroesList > .heroCard { 
    margin-bottom: 12px;
    overflow:auto;
}

.nothing {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff
}