.heroCard {
    position: relative;
    height: 168px;
}

.heroCard > img{
    height: 100px;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}
.heroCard > div{
    height: 12px;
    font-size: x-small;
    color:white;
    text-align: center;
    white-space: nowrap;
}

.heroCard > .counter { 
    width: 24px;
    height: 24px;
    background-color: #00C35A;
    border-radius: 12px;
    position: absolute;
    font-size: 12px;
    bottom: 2px;
    left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cross {
    display: none;
}

.heroCard:hover > .cross {
    display: block;
}

.heroCard > .cross{
    width: 24px;
    height: 24px;
    position: absolute;
    top: -8px;
    right: -8px;
}
@media screen and (max-width:375px){
    .heroCard{
        height: 112px;
        width: 64px;
        float: left;
        margin: 1.25vw;
    } 
}
@media screen and (min-width:375px){
    .heroCard{
        height: 112px;
        width:72px;
        float: left;
        margin: 8px;
    } 
}