body {
    margin:0px;
}
.workdesk {
    height: 100vh;
    width: 100vw;
    background-color:#31333D;
}
.headerHeroes {
    overflow-x: scroll;
    overflow-y: unset;
    background-color:#2B2D35;
    max-width: 100vw;
    max-height: 168px;   
}
.heroesList {
    background-color:#31333D;
    position:absolute;
    width:100vw;
    height: auto;
    max-width: 100vw;
    padding: 10px;
    box-sizing: border-box;
}
.searchString {
    background-color:#31333D;
    max-width: 100vw;
    padding:10px;


}
.searchInput{
    width: 100%;
    max-width: 375px;
    color: white;
    height:35px;
    border:0px; 
    background: #4B4E5C;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;

}
.buttonPanel{
    position:absolute;
    bottom: 0px;
    width:100%;
    height: 20%;
}
.buttonPanel > a > img{
    height: 75px ;
    position: top;
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: rgb(53, 53, 58);
 }


::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color:rgb(128, 128, 128); 
}